
<!--************************************
			Wrapper Start
	*************************************-->
	<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
		<!--************************************
				Header Start
		*************************************-->
		<!--************************************
				Header End
    *************************************-->

    <router-outlet></router-outlet>

    <!--************************************
				Footer Start
		*************************************-->
		<!--************************************
				Footer End
		*************************************-->
	</div>
	<!--************************************
			Wrapper End
  *************************************-->
