<!-- https://firstclassjs.com/display-a-loader-on-every-http-request-using-interceptor-in-angular-7/ -->

<!-- https://christianlydemann.com/four-ways-to-create-loading-spinners-in-an-angular-app/ -->
<div class="wrapper">
  <div class="overlay">
    <div class="spinner-wrapper">
      <div class="container">
        <div class="row">
          <div id="loader">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="loading"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
